.drop-container {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.drop-container .drop-1 {
    display: inline-block;
}

.drop-container .drop-2 {
    display: inline-block;
}

.drop-container a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 10px 10px;
    background-color: azure;
}


.drop-container .drop-semester {
    border: none;
    padding: 10px 15px;
    background-color: azure;
    color: black;
    border-radius: 100px;
    font-size: medium;
}

.drop-container .drop-year {
    border: none;
    padding: 10px 15px;
    background-color: azure;
    color: black;
    border-radius: 100px;
    font-size: medium;
    margin-left: 50px;
}

.drop-container .semester-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0.8;
}

.drop-container .year-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0.8;
    left: 150px;
}

.drop-1 a:hover {
    background-color: rgb(217, 217, 217);
}

.drop-2 a:hover {
    background-color: rgb(217, 217, 217);
}

.drop-container .drop-1:hover .semester-content {
    display: block;
}

.drop-container .drop-2:hover .year-content {
    display: block;
}
