
.dropft {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: azure;
    width: 100%;
    padding: 20px;
    padding-top: 0px;
}

.dropft .inputcourse {
    position: relative;
    top: 18px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
}

.dropft .dpbtn {
    padding: 9px 20px;
    font-size: 16px; 
    border-radius: 70px;
    cursor: pointer;   
    position: relative;
    margin-left: 70px;
    top: 19px;
    transition: 0.2s;
    background-color: rgb(235, 28, 28);

}

.dpfter .dpbtn:hover {
    background-color: rgb(255, 0, 0);
    color: azure;
    transform: translateY(-5px);

    /* font-size: 20px; */
}