.backgroundchange {
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(51,0,101,1) 57%, rgba(128,0,255,1) 100%);
    overflow: hidden;
}

.container {
    margin: 100px 200px 0 200px;
}

p{
    color: azure;
}

.enrollfoot .changebutton {
    position: fixed;
    left: 1350px;
    bottom: 15px;
    margin-right: 45px;
    border-radius: 60px;
    padding: 10px 20px;
    background-color: azure;
}

.changebutton:hover {
    background-color: rgb(218, 218, 218);
    color: black;
    transform: translateY(-5px);
    box-shadow: 0 0 10px grey;
}