.Adcontainer02 {
    margin: 100px 130px 50px 130px;
}

.no-data {
    color: azure;
    font-size: 1.5em;
}

.Adsearchbox {
    color: azure;
    display: flex;
    justify-content: space-between;
}

.Adsearchbox > h3 {
    margin: 20px 0 0 15px;
}

.Adsearchbox > div {
    margin: 0 15px 0 0;
}

label {
    color: azure;
    margin-right: 10px;
    margin-left: 10px;
}

.btn-view-all {
    padding: 8px 10px;
    border-radius: 100px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.btn-view-all:hover {
    background-color: rgb(200, 200, 200);
    color: black;
    transform: translateY(-2px);
    box-shadow: 0 0 10px black;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}