
.Adbtn-done {
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 100px;
}

.Adbtn-done:hover {
    transform: translateY(-5px);
    box-shadow: 2px 3px 15px rgb(0, 0, 0);
    transition: 0.2s ease-in-out;
}

.btnnn{
    padding: 100px 15px;
    border-radius: 100px;
}