.bgtc {
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(51,0,101,1) 57%, rgba(128,0,255,1) 100%);
    overflow: hidden;
}

.tccontainer {
    margin: 100px 200px 0 200px;
}

.tcdropdd {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 10px; */
    margin-top: 15px;
}

.tcdropdd .tcviewbutton {
    border-radius: 100%;
    padding: 10px 12px;
    margin-left: 40px;
}

.tcviewbutton:hover {
    background-color: rgb(200, 200, 200);
    color: black;
    transform: translateY(-2px);
    box-shadow: 0 0 10px black;
    transition: 0.1s ease-in-out;
    font-weight: 600;
}

.tctopic {
    color: azure;
    display: flex;
    justify-content: flex-start;
    margin: 15px 0;
}

.tctable {
    margin-top: 5px ;
    border: 2px solid black;
    border-radius: 15px;
}

.tcbtn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
}

.tcbtn-1 {
    width: 120px;
    margin: 30px 25px;
    padding: 10px 25px;
    border-radius: 100px;
    background-color: rgb(247, 247, 247);
    font-size: 1em;

}

.tcbtn-1:hover {
    background-color: rgb(247, 247, 247);
    color: black;
    transform: translateY(-5px);
    box-shadow: 0 0 10px black;
    /* font-size: medium; */
    font-size: 1em;
    font-weight: 600;
    transition: 0.1s ease-in-out;
}

.detailbtn {
    border-radius: 100px;
    padding: 5px 8px;
    border: 1px solid black;
}

.detailbtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 5px grey;
    transition: 0.1s ease-in-out;
    background-color: rgb(200, 200, 200);
}