.bgtc {
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(51,0,101,1) 57%, rgba(128,0,255,1) 100%);
    overflow: hidden;
}

.dropdowndate {
    display: flex-end;
    margin-bottom: 20px;
    margin-top: 15px;
}

.dropdowndate .viewbutton {
    border-radius: 100px;
    padding: 10px 15px;
    margin-left: 40px;
}

.viewbutton:hover {
    background-color: rgb(247, 247, 247);
    color: black;
    transform: translateY(-2px);
    box-shadow: 0 0 10px black;
    /* font-size: medium; */
    /* font-size: 1em; */
    font-weight: 600;
    transition: 0.1s ease-in-out;
}

.sectiontable {
    border-radius: 15px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
}

.btn-1 {
    width: 120px;
    margin: 30px 25px;
    padding: 10px 25px;
    border-radius: 100px;
    background-color: rgb(247, 247, 247);
    font-size: 1em;

}

.btn-1:hover {
    background-color: rgb(247, 247, 247);
    color: black;
    transform: translateY(-5px);
    box-shadow: 0 0 10px black;
    /* font-size: medium; */
    font-size: 1em;
    font-weight: 600;
    transition: 0.1s ease-in-out;
}

.detailbtn {
    border-radius: 100px;
    padding: 5px 8px;
    border: 1px solid black;
}

.detailbtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 5px grey;
    transition: 0.1s ease-in-out;
}