.backgroundscore {
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(51,0,101,1) 57%, rgba(128,0,255,1) 100%);
    overflow: hidden;
}

.scorecontainer {
    margin: 100px 200px 0 200px;
}

.viewsc {
    position: relative;
    right: -1150px;
    padding: 10px 15px;
    border-radius: 100px;
    margin-left: 20px;
}

.scorecontainer .topicscore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.scoretable {
    margin-top: 50px;
}