
.scorecontainer .topicscore {
    display: block;
    justify-content: center;
    align-items: center;
    width: auto;
}

.sctext {
    margin-top: 40px;
    color: azure;
    font-size: xx-large;
}

.scoretable {
    margin-top: 50px;
}