
.bgstd {
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(51,0,101,1) 57%, rgba(128,0,255,1) 100%);
    overflow: hidden;
}

.stdcontainer {
    margin: 100px 200px 100px 200px;
}

.stdcontainer .stdtopic {
    display: flex;
    justify-content: center;
}

.stdcontainer .stddropdd {
    margin-top: 15px;
    display: flex-end;
    justify-content: center;
    z-index: 3;
}

.stdviewdd {
    position: relative;
    right: -725px;
    padding: 10px 15px;
    border-radius: 100px;
    margin-left: 20px;
}

.stdviewdd:hover {
    background-color: rgb(200, 200, 200);
    color: black;
    transform: translateY(-2px);
    box-shadow: 0 0 10px black;
    transition: 0.1s ease-in-out;
    font-weight: 600;

}

.stdheadtb {
    color: azure;
    display: flex;
    justify-content: flex-start;
    margin: 15px;
}

.stdtable {
    margin-top: 5px ;
    /* border: 2px solid black; */
    border-radius: 15px;
}

.stdtext {
    margin-top: 20px;
    color: azure;
    font-size: xx-large;
}

.stdbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.stdinteracbtn {
    width: 120px;
    font-size: 1em;
    margin: 0 30px;
    padding: 15px;
    border-radius: 100px;
    background-color: rgb(247, 247, 247);
}

.stdinteracbtn:hover {
    background-color: rgb(247, 247, 247);
    color: black;
    transform: translateY(-5px);
    box-shadow: 0 0 10px black;
    font-size: medium;
    font-size: 1.2em;
    font-weight: 600;
    transition: 0.1s ease-in-out;
}

.customHighlight .rdt_TableRow:hover {
    font-size: 14px;
  }
